    
    <div class="container-footer">
        <div>
            <h2>MAIL</h2>
            <label>emp.sentidosactivos@gmail.com</label>            
        </div>
        <div class="container-info-footer">
            <label>Este sitio web fue creado por: </label>
            <a href="http://indicumtechnology.com.ar/" target="_blank">
                <img class="img-footer-it" src="assets/img/indicum-technology.png" alt="">
            </a>            
        </div>
    </div> 
    <script src="assets/plugins/jquery-3.5.1.min.js"></script>
    <script src="assets/scripts/app.js"></script>
</body>
</html>   