    
    <div class="container-footer">
        <div class="container-info-footer">
            <div>
                <h2>TELEFONO <i class="fas fa-mobile-alt"></i></h2>
                <label>Lu: 2241-498505</label><br>
                <label>Pao: 2241-534800</label>          
            </div>
            <div class="container-redes">
                <h2>MAIL <i class="fas fa-envelope"></i></h2>
                <label>emp.sentidosactivos@gmail.com</label><br>
                <a href="https://www.instagram.com/sentidos.activos/?hl=en" target="_blank"><i class=" fab fa-instagram"></i><label> instagram</label></a>
                <a href="https://m.facebook.com/Sentidos-Activos-109203394730618/?ref=bookmarks" target="_blank"><i class="fab fa-facebook-square"></i><label> facebook</label></a>     
            </div>
        </div>
        <div class="container-inducum">
            <label>Este sitio web fue creado por: </label>
            <a class="btn-indicum" href="http://indicumtechnology.com.ar/" target="_blank">
                <img class="img-footer-it" src="assets/img/indicum-technology.png" alt="">
            </a>            
        </div>
    </div> 
    <script src="assets/plugins/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="assets/plugins/sweetalert2.all.min.js"></script>
    <script src="assets/scripts/app.js"></script>
</body>
</html>   